body {
  width: 1200px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(lightgrey, white);
}

header {
  margin-top: 10px;
  width: 100%;
  height: 100px;
}

body > header {
  background-image: linear-gradient(grey, lightgrey);
  outline: 1px solid grey;
}

body > header > h1 {
  font-size: 70px;
  width: 100%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

nav > ul {
  columns: 2;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

nav {
  float: right;
  text-align: right;
  margin-right: 50px;
  margin-top: -30px;
}

ul {
  display: block;
}

ol {
  padding-right: 10px;
  text-align: center;
  padding-bottom: 25px;
}

main > header {
  height: -20px;
}

.deck {
  width: 1000px;
  height: 100%;
  /* outline: 1px solid grey; */
  margin-right: auto;
  margin-left: auto;
}

footer {
  background-image: linear-gradient(lightgrey, grey);
  width: 100%;
  height: 100px;
  bottom: 0;
  outline: 1px solid grey;
  text-align: center;
}

footer > p {
  padding-top: 25px;
}

legend {
  padding-bottom: 25px;
  text-align: center;
  font-size: 30px;
}

fieldset {
  width: 1000px;
  height: 300px;
  margin-bottom: 20px;
  text-align: center;
}

catalog {
  text-align: center;
}